{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>Team Section</title>
</head>
<body>
    <section class="team">
        <h2 class="team-title">MEET OUR TEAM</h2>
        <div class="team-lead">
            <div class="member-card">
                <div class="member-image">
                    <img src="{% static advisor.image.url|image_path %}" alt="{{ advisor.name }}">
                </div>
                <div class="member-details">
                    <h3 class="member-name">{{ advisor.name }}</h3>
                    <p>{{ advisor.role }}</p>
                </div>
                <div class="social-icons">
                    {% if advisor.facebook_link %}
                    <a href="{{ advisor.facebook_link }}"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}
                    {% if advisor.instagram_link %}
                    <a href="{{ advisor.instagram_link }}"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if advisor.email %}
                    <a href="mailto:{{ advisor.email }}"><i class="far fa-envelope"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="team-members-grid">
            {% for team_member in team_members %}
                <div class="team-member" data-index="{{ forloop.counter0 }}">
                    <div class="member-card">
                        <div class="member-image">
                            <img src="{% static team_member.image.url|image_path %}" alt="{{ team_member.name }}">
                        </div>
                        <div class="member-details">
                            <h3 class="member-name">{{ team_member.name }}</h3>
                            <p>{{ team_member.role }}</p>
                        </div>
                        <div class="social-icons">
                            {% if team_member.facebook_link %}
                                <a href="{{ team_member.facebook_link }}"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if team_member.instagram_link %}
                                <a href="{{ team_member.instagram_link }}"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if team_member.email %}
                                <a href="mailto:{{ team_member.email }}"><i class="far fa-envelope"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <button id="show-more-button" class="show-more-button">Show More <i class="fas fa-chevron-down"></i></button>
        <button id="show-less-button" class="show-more-button">Show Less <i class="fas fa-chevron-up"></i></button>

    </section>

<script src="{% static 'js/show_more.js' %}"></script>
</body>
</html>