{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Timeline</title>
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
</head>
<body>
    <div class="events-timeline">

        <div class="events-container left-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula purus nec ante dapibus, nec consequat leo tincidunt. Suspendisse potenti. Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="events-container right-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula purus nec ante dapibus, nec consequat leo tincidunt. Suspendisse potenti. Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="events-container left-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="events-container right-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula purus nec ante dapibus, nec consequat leo tincidunt. Suspendisse potenti. Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="events-container left-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula purus nec ante dapibus, nec consequat leo tincidunt. Suspendisse potenti.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="events-container right-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula purus nec ante dapibus, nec consequat leo tincidunt. Suspendisse potenti. Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis. Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="events-container left-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula purus nec ante dapibus, nec consequat leo tincidunt. Suspendisse potenti.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="events-container right-container">
            <img src="{% static 'media/logo.png' %}" alt="">
            <div class="event-textbox">
                <h2>Desi Aroma</h2>
                <small>June 17, 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula purus nec ante dapibus, nec consequat leo tincidunt. Suspendisse potenti. Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis. Phasellus ac nisi in urna ullamcorper feugiat. Sed nec lacus at turpis bibendum iaculis.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>

    </div>
    
</body>
</html>