{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>Footer</title>
</head>
<body class="footer-body">
    <footer>
        <div class="footer-content">
            <h3>University of Houston Clear Lake</h3>
            <p>Welcomes you to the Association of Indian Students</p>
            <ul class="socials">
                <li><a href="#">
                    <i class="fab fa-facebook"></i>
                </a></li>
                <li><a href="#">
                    <i class="fab fa-youtube"></i>
                </a></li>
                <li><a href="#">
                    <i class="fab fa-instagram"></i>
                </a></li>
                <li><a href="#">
                    <i class="fab fa-twitter"></i>
                </a></li>
                <li><a href="#">
                    <i class="far fa-envelope"></i>
                </a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; UHCL Indian Student Association</p>
        </div>
    </footer>
</body>
</html>
