{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/housing.css' %}">
</head>
<body>
    <div id="divHousing">
        <h1>Housing</h1>
        <p>
            Are you looking for roommates to stay with?<br>
            Is it difficult to use social media to find who are looking for roommates?
        </p>
        <h3>Here is the solution</h3>
        <p>
            ISA helps you find housing suitable for your needs. Find the list of available vacancies with Indian students in the apartments near UHCL. Roommate Finder is a common platform to unite people who are looking for housing around the campus.
        </p>
        <h3>Features</h3>
        <ul>
            <li>View currently available housing.</li>
            <li>Filter your search according to your needs (Rent, bedrooms, gender preference, Apartment, etc.).</li>
        </ul>
        <h3>Why wait? Log On to enjoy these features!</h3>
    </div>
    <div id="imageContainer">
        <img src="{% static 'media/accomodation.jpg' %}" alt="Image">
    </div>
</body>
</html>
